/* Des */




















































/* pat */




























































/* eth */
.scd_row_first_col{
    border: 1px solid rgb(195, 255, 0);
    width: 25%;
}
h1{
    color: red;
}




























