/* Des */

/* CHANGE SIGN UP TEXT TO WHITE */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    
    background-color: white;
    background-image: url(..//CRM-Main/Rocket_ellipse.png);
    background-repeat: no-repeat;
    color: white;

    padding-top: 600px;
    padding-bottom: 500px;
}


.hero button {
    color: white;
    border-radius: 25px;
    border: 3px solid #E3E3E3;
    padding-bottom: 35px; 
    width: 175px;
    height: 5px;
}

.container {
    display: flex;

}

.right {
    right: 0;
    justify-content: space-around;
    margin-right: 300px;
}




h1 {
    color: black !important;
}

#ip2 {
    border-radius: 25px;
    padding: 20px; 
    width: 350px;
    height: 15px;    
}


.btn2 {
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    padding-bottom: 35px; 
    width: 175px;
    height: 5px;
}


.social-icons a{
    color: black
}











































/* pat */




























































/* eth */

/* NAVBAR */
.ejh_first_navbar1{
    display:flex ;
    justify-content:space-around;
}


.ejh_first_img{
    width: 11em;
}
/* JUMBOTRON */

.ejh_breadcrumb_2{
    color: black;
}
.ejh_second_button{
    color: blue;
}
.ejh_first_list{
    display: inline;
}
#ejh_head_img{
    width: 60%;
    height: 100%;
}
.ejh_nav_title{
    color: black;
}

/* Top main section */
.ejh_row_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ejh_r3_col1{
    text-align: center;
}
.ejh_r3_col2{
    
    display: flex;
    justify-content: space-around;
}

.cart_text{
    text-align: center;
}
.card{
    height: 10%;
    width: 10%;
}

/* After the logos */

.ejh_row_4{
    border: 1px solid black;
}
.ejh_row4_col1_img{
    width: 100%;
}
.ejh_r4_col2{
    background-color: blue;
    color: aliceblue;
}

/* Bottom Main */
.ejh_row_6{
    display: flex;
    justify-content: space-around;
}
.ejh_r6_col1{
    
    display: flex;
    justify-content: space-around;
}
.ejh_r6_col2{
    
    display: flex;
    justify-content: space-around;
}


.ejh_r6_img1{
    width: 7em;
}
.ejh_r6_img2{
    width: 7em;
}

.ejh_row_7{
    display: flex;
    justify-content: center;
}
.ejh_r7_col1{
    text-align: center;
}
.ejh_r7_col2{
    text-align: center;
}
/* second part */
.ejh_row_8{
    display: flex;
    justify-content: space-around;
}
.ejh_r8_col1{
    
    display: flex;
    justify-content: space-around;
}
.ejh_r8_col2{
    
    display: flex;
    justify-content: space-around;
}


.ejh_r8_img1{
    width: 7em;
}
.ejh_r8_img2{
    width: 7em;
}

.ejh_row_9{
    display: flex;
    justify-content: center;
}
.ejh_r9_col1{
    text-align: center;
}
.ejh_r9_col2{
    text-align: center;
}

/* FOOTER */
.ejh_last_row{
    background-color: rgb(39, 82, 255);
    width: em;
}
.ejh_last_col{
    text-align: center;
    color: white;
}
.ejh_last_breadcrumb{
    justify-content: center;
    margin-top: 2em;
    color: white;
}




/* ETHAN_2 */




















